/* Farger */

$primary-color: #1d1c1c;
$secondary-color: blue;
$lightGrey: #ccc;

$errorBGcolor: #f8d7da;
$errorTextcolor: #721c24;
$errorBordercolor: #f5c6cb;

$warningBGcolor:#fff3cd;
$warningTextcolor:#856404;
$warningBordercolor:#ffeeba;

$successBGcolor:#d4edda;
$successTextcolor:#155724;
$successBordercolor:#c3e6cb;